<template>
  <div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner container">
      <div class="page-logo">
        <a href="index.html">
          <img src="/images/logo-light.png" alt="logo" class="logo-default">
        </a>
        <div class="menu-toggler sidebar-toggler">
        </div>
      </div>
      <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
      <div class="page-actions">
        <div class="btn-group">
          <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <span class="hidden-sm hidden-xs">Actions&nbsp;</span>
            <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="javascript:;">
                <i class="icon-docs"></i> New Post
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="icon-tag"></i> New Comment
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="icon-share"></i> Share
              </a>
            </li>
            <li class="divider"> </li>
            <li>
              <a href="javascript:;">
                <i class="icon-flag"></i> Comments
                <span class="badge badge-success">4</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="icon-users"></i> Feedbacks
                <span class="badge badge-danger">2</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="page-top">
        <div class="top-menu">
          <ul class="nav navbar-nav pull-right">
            <li class="separator hide"> </li>
            <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="icon-bell"></i>
                <span class="badge badge-success"> 7 </span>
              </a>
              <ul class="dropdown-menu">
                <li class="external">
                  <h3>
                    <span class="bold">12 pending</span> notifications
                  </h3>
                  <a href="page_user_profile_1.html">view all</a>
                </li>
                <li>
                  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
                    <ul class="dropdown-menu-list scroller" style="height: 250px; overflow: hidden; width: auto;" data-handle-color="#637283" data-initialized="1">
                      <li>
                        <a href="javascript:;">
                          <span class="time">just now</span>
                          <span class="details">
                            <span class="label label-sm label-icon label-success">
                              <i class="fa fa-plus"></i>
                            </span> New user registered.
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;">
                          <span class="time">3 mins</span>
                          <span class="details">
                            <span class="label label-sm label-icon label-danger">
                              <i class="fa fa-bolt"></i>
                            </span> Server #12 overloaded.
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;">
                          <span class="time">10 mins</span>
                          <span class="details">
                            <span class="label label-sm label-icon label-warning">
                              <i class="fa fa-bell-o"></i>
                            </span> Server #2 not responding.
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;">
                          <span class="time">14 hrs</span>
                          <span class="details">
                            <span class="label label-sm label-icon label-info">
                              <i class="fa fa-bullhorn"></i>
                            </span> Application error.
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;">
                          <span class="time">2 days</span>
                          <span class="details">
                            <span class="label label-sm label-icon label-danger">
                              <i class="fa fa-bolt"></i>
                            </span> Database overloaded 68%.
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;">
                          <span class="time">3 days</span>
                          <span class="details">
                            <span class="label label-sm label-icon label-danger">
                              <i class="fa fa-bolt"></i>
                            </span> A user IP blocked.
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;">
                          <span class="time">4 days</span>
                          <span class="details">
                            <span class="label label-sm label-icon label-warning">
                              <i class="fa fa-bell-o"></i>
                            </span> Storage Server #4 not responding dfdfdfd.
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;">
                          <span class="time">5 days</span>
                          <span class="details">
                            <span class="label label-sm label-icon label-info">
                              <i class="fa fa-bullhorn"></i>
                            </span> System Error.
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;">
                          <span class="time">9 days</span>
                          <span class="details">
                            <span class="label label-sm label-icon label-danger">
                              <i class="fa fa-bolt"></i>
                            </span> Storage server failed.
                          </span>
                        </a>
                      </li>
                    </ul><div class="slimScrollBar" style="background: rgb(99, 114, 131); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="separator hide"> </li>
            <li class="dropdown dropdown-user dropdown-dark">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <span class="username username-hide-on-mobile"> Nick </span>

                <img alt="" class="img-circle" src="/images/avatar9.jpg">
              </a>
              <ul class="dropdown-menu dropdown-menu-default">
                <li>
                  <a href="page_user_profile_1.html">
                    <i class="icon-user"></i> My Profile
                  </a>
                </li>
                <li>
                  <a href="app_calendar.html">
                    <i class="icon-calendar"></i> My Calendar
                  </a>
                </li>
                <li>
                  <a href="app_inbox.html">
                    <i class="icon-envelope-open"></i> My Inbox
                    <span class="badge badge-danger"> 3 </span>
                  </a>
                </li>
                <li>
                  <a href="app_todo_2.html">
                    <i class="icon-rocket"></i> My Tasks
                    <span class="badge badge-success"> 7 </span>
                  </a>
                </li>
                <li class="divider"> </li>
                <li>
                  <a href="page_user_lock_1.html">
                    <i class="icon-lock"></i> Lock Screen
                  </a>
                </li>
                <li>
                  <a href="page_user_login_1.html">
                    <i class="icon-key"></i> Log Out
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
