<template>
  <div class="page-sidebar-wrapper">    
    <div class="page-sidebar navbar-collapse collapse">
     
      <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="nav-item start active">
          <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
            <span class="selected"></span>
            <span class="arrow"></span>
          </a>
          <ul class="sub-menu" style="display: none;">
            <li class="nav-item start active open">
              <a href="index.html" class="nav-link ">
                <i class="icon-bar-chart"></i>
                <span class="title">Dashboard 1</span>
                <span class="selected"></span>
              </a>
            </li>
            <li class="nav-item start ">
              <a href="dashboard_2.html" class="nav-link ">
                <i class="icon-bulb"></i>
                <span class="title">Dashboard 2</span>
                <span class="badge badge-success">1</span>
              </a>
            </li>
            <li class="nav-item start ">
              <a href="dashboard_3.html" class="nav-link ">
                <i class="icon-graph"></i>
                <span class="title">Dashboard 3</span>
                <span class="badge badge-danger">5</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="heading">
          <h3 class="uppercase">Features</h3>
        </li>
        <li class="nav-item">
          <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">UI Features</span>
            <span class="arrow"></span>
          </a>
          <ul class="sub-menu" style="display: none;">
            <li class="nav-item  ">
              <a href="ui_metronic_grid.html" class="nav-link ">
                <span class="title">Metronic Grid System</span>
              </a>
            </li>
            <li class="nav-item  ">
              <a href="ui_colors.html" class="nav-link ">
                <span class="title">Color Library</span>
              </a>
            </li>            
          </ul>
        </li>

      </ul>
      <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
  </div>
</template>


