<style>
  .page-content-wrapper .page-content{
    padding-top:0;
  }
</style>

<template>
  <div>
    
    <top-header></top-header>
    <div class="clearfix"> </div>
    <div class="container">
      <div class="page-container">
        <!-- BEGIN SIDEBAR -->
       <side-bar></side-bar>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
          <!-- BEGIN CONTENT BODY -->
          <div class="page-content">
            <nuxt />
          </div>
          <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->      
      </div>
      <div class="page-footer">
        <div class="page-footer-inner">
          2016 © Metronic Theme By
          <a target="_blank" href="http://keenthemes.com">Keenthemes</a> &nbsp;|&nbsp;
          <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
        </div>
      </div>
    </div>
  
  </div>
</template>

<script>
  import TopHeader from '~/components/layout/Header.vue'
  import SideBar from '~/components/layout/SideBar.vue'

  export default {
    head: {
      bodyAttrs: {
        class: 'page-container-bg-solid page-sidebar-closed-hide-logo page-boxed page-header-fixed'
      }
    },
    middleware: 'authenticated',
    components: {
      TopHeader, SideBar
    }
  }

</script>

