<template>
  <section>
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption">
              <span class="caption-subject bold uppercase font-dark">Revenue</span>
              <span class="caption-helper">distance stats...</span>
            </div>
            <div class="actions">
              <a class="btn btn-circle btn-icon-only btn-default" href="#">
                <i class="icon-cloud-upload"></i>
              </a>
              <a class="btn btn-circle btn-icon-only btn-default" href="#">
                <i class="icon-wrench"></i>
              </a>
              <a class="btn btn-circle btn-icon-only btn-default" href="#">
                <i class="icon-trash"></i>
              </a>
              <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title=""> </a>
            </div>
          </div>
          <div class="portlet-body" style="height: auto;">

            <form role="form">
              <div class="form-body">
                <div class="form-group">
                  <label>Email Address</label>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Email Address">
                  </div>
                </div>
                <div class="form-group">
                  <label>Circle Input</label>
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <input type="text" class="form-control input-circle-right" placeholder="Email Address">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <div class="input-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <span class="input-group-addon">
                      <i class="fa fa-user font-red"></i>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Left Icon</label>
                  <div class="input-icon">
                    <i class="fa fa-bell-o font-green"></i>
                    <input type="text" class="form-control" placeholder="Left icon">
                  </div>
                </div>
                <div class="form-group">
                  <label>Left Icon(.input-sm)</label>
                  <div class="input-icon input-icon-sm">
                    <i class="fa fa-bell-o"></i>
                    <input type="text" class="form-control input-sm" placeholder="Left icon">
                  </div>
                </div>
                <div class="form-group">
                  <label>Left Icon(.input-lg)</label>
                  <div class="input-icon input-icon-lg">
                    <i class="fa fa-bell-o"></i>
                    <input type="text" class="form-control input-lg" placeholder="Left icon">
                  </div>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn blue">Submit</button>
                <button type="button" class="btn default">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption">
              <span class="caption-subject bold uppercase font-dark">Revenue</span>
              <span class="caption-helper">distance stats...</span>
            </div>
            <div class="actions">
              <a class="btn btn-circle btn-icon-only btn-default" href="#">
                <i class="icon-cloud-upload"></i>
              </a>
              <a class="btn btn-circle btn-icon-only btn-default" href="#">
                <i class="icon-wrench"></i>
              </a>
              <a class="btn btn-circle btn-icon-only btn-default" href="#">
                <i class="icon-trash"></i>
              </a>
              <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title=""> </a>
            </div>
          </div>
          <div class="portlet-body" style="height: auto;">

            <form role="form">
              <div class="form-body">
                <div class="form-group">
                  <label>Email Address</label>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Email Address">
                  </div>
                </div>
                <div class="form-group">
                  <label>Circle Input</label>
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <input type="text" class="form-control input-circle-right" placeholder="Email Address">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <div class="input-group">
                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                    <span class="input-group-addon">
                      <i class="fa fa-user font-red"></i>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Left Icon</label>
                  <div class="input-icon">
                    <i class="fa fa-bell-o font-green"></i>
                    <input type="text" class="form-control" placeholder="Left icon">
                  </div>
                </div>
                <div class="form-group">
                  <label>Left Icon(.input-sm)</label>
                  <div class="input-icon input-icon-sm">
                    <i class="fa fa-bell-o"></i>
                    <input type="text" class="form-control input-sm" placeholder="Left icon">
                  </div>
                </div>
                <div class="form-group">
                  <label>Left Icon(.input-lg)</label>
                  <div class="input-icon input-icon-lg">
                    <i class="fa fa-bell-o"></i>
                    <input type="text" class="form-control input-lg" placeholder="Left icon">
                  </div>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn blue">Submit</button>
                <button type="button" class="btn default">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <modal :pModal="Modal"></modal>
  </section>
</template>
<script>
  import AppLogo from '~/components/AppLogo.vue'  

  export default {
    components: {
      AppLogo
    },

    mounted: function () {
      //console.log(this.$Helpers.Test())
      //console.log(this.$CHelpers.Test())

      //this.Modal = {
      //  Size: 'sm',
      //  Show: true,
      //  Title:'Modal Title'
      //}
      
      //this.$Helpers.ShowError('YEE')

      //this.$toastr('add',
      //  {
      //    title: 'SUCCESS!',
      //    msg: 'Data Saved',
      //    clickClose: true,
      //    timeout: 500,
      //    position: 'toast-top-right',
      //    type: 'success'
      //  }) 

      //this.$store.commit('increment', 12)
      //console.log(this.$store.state)

    },

    data() {
      return {
        Modal: {}
      }
    },

    methods: {
      ShowERR() {
        toastr.info('Are you the 6 fingered man?')
      }
    }

  }
</script>
