
<style>
  .login {
    background-color: #5c97bd
  }

    .login a {
      color: #edf4f8 !important
    }

    .login .logo {
      margin: 100px auto 0;
      padding: 15px;
      text-align: center
    }

    .login .content {
      width: 400px;
      margin: 40px auto
    }

    .login .form-title {
      margin-bottom: 20px;
      color: #edf4f8;
      font-size: 19px;
      font-weight: 400 !important
    }

    .login .form-subtitle {
      color: #c9dce9;
      font-size: 17px;
      font-weight: 300 !important;
      padding-left: 10px
    }

    .login .content h4 {
      color: #555
    }

    .login .content .hint {
      color: #b7d1e2;
      padding: 0;
      font-size: 14px;
      margin: 15px 0 7px
    }

    .login .content .forget-form, .login .content .login-form {
      padding: 0;
      margin: 0
    }

    .login .content .form-control {
      background-color: #6ba3c8;
      border: 1px solid #6ba3c8;
      height: 43px;
      color: #d9ecf9
    }

      .login .content .form-control:active, .login .content .form-control:focus {
        border: 1px solid #83b8db
      }

      .login .content .form-control::-moz-placeholder {
        color: #d9ecf9;
        opacity: 1
      }

      .login .content .form-control:-ms-input-placeholder {
        color: #d9ecf9
      }

      .login .content .form-control::-webkit-input-placeholder {
        color: #d9ecf9
      }

    .login .content select.form-control {
      padding-left: 9px;
      padding-right: 9px
    }

    .login .content .forget-form, .login .content .register-form {
      display: none
    }

    .login .content .form-title {
      font-weight: 300;
      margin-bottom: 25px
    }

    .login .content .form-actions {
      clear: both;
      border: 0;
      padding: 0 30px 25px;
      margin-left: -30px;
      margin-right: -30px
    }

  .form-actions .forget-password-block {
    padding-top: 7px
  }

  .login-options {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: 1px solid #69a0c4;
    border-bottom: 1px solid #69a0c4
  }

    .login-options h4 {
      margin-top: 8px;
      font-weight: 600;
      font-size: 15px;
      color: #b7d1e2 !important
    }

  .login .forget-password {
    font-size: 14px
  }

  .login-options .social-icons {
    float: right;
    padding-top: 3px
  }

    .login-options .social-icons li a {
      border-radius: 15px !important;
      -moz-border-radius: 15px !important;
      -webkit-border-radius: 15px !important
    }

  .login .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px
  }

  .login .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0
  }

  .login .btn, .login .btn-default {
    font-weight: 600;
    padding: 10px 25px !important;
    background-color: #5995bb;
    color: #8fc4e5
  }

  .login .content .form-actions .checkbox {
    margin-top: 8px;
    display: inline-block
  }

  .login .content .form-actions .btn {
    margin-top: 1px
  }

  .login .btn {
    border: 1px solid #72a9cc
  }

    .login .btn:hover {
      border: 1px solid #90bbd7;
      background-color: #5995bb;
      color: #8fc4e5
    }

  .login .btn-default {
    border: 1px solid #72a9cc
  }

    .login .btn-default:hover {
      border: 1px solid #90bbd7;
      background-color: #5995bb;
      color: #8fc4e5
    }

  .login .content .forget-password {
    color: #d7eaf7;
    font-size: 15px
  }

  .login .content .rememberme {
    margin-top: 8px
  }

  .login .content .mt-checkbox {
    color: #c9dce9 !important
  }

    .login .content .mt-checkbox > span:after {
      border-color: #c9dce9 !important
    }

  .login .content .create-account {
    text-align: center;
    margin-top: 20px
  }

    .login .content .create-account p a {
      font-weight: 300;
      font-size: 16px;
      color: #fff
    }

    .login .content .create-account a {
      display: inline-block;
      margin-top: 5px
    }

  .login .copyright {
    text-align: center;
    margin: 10px auto 30px 0;
    padding: 10px;
    color: #c9dce9;
    font-size: 13px
  }

  @media (max-width:1400px) {
    .login .logo {
      margin-top: 100px
    }
  }

  @media (max-width:480px) {
    .login .logo {
      margin-top: 30px;
      padding: 0
    }

    .login .content {
      width: 245px
    }

      .login .content h3 {
        font-size: 22px
      }

    .login .checkbox {
      font-size: 13px
    }
  }
</style>


<template>
  <div>
    <div class="logo">
      <a href="index.html">
        <img src="/images/logo-light.png" style="height: 17px;" alt="">
      </a>
    </div>
    <div class="content">
      <!-- BEGIN LOGIN FORM -->
      <form @submit.prevent="Login" v-if="!ShowForgotPasswordForm" class="login-form" method="post" novalidate="novalidate" style="display: block;">
        <div class="form-title">
          <span class="form-title">Welcome.</span>
          <span class="form-subtitle">Please login.</span>
        </div>
        <div class="alert alert-danger display-hide">
          <button class="close" data-close="alert"></button>
          <span> Enter any username and password. </span>
        </div>
        <div class="form-group">
          <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
          <label class="control-label visible-ie8 visible-ie9">Username</label>
          <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" v-model="User.UserName">
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">Password</label>
          <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" v-model="User.Password">
        </div>
        <div class="form-actions">
          <button type="submit" class="btn red btn-block uppercase">Login</button>
        </div>
        <div class="form-actions">
          <div class="pull-left">
            <label class="rememberme mt-checkbox mt-checkbox-outline">
              <input type="checkbox" name="remember" value="1"> Remember me
              <span></span>
            </label>
          </div>
          <div class="pull-right forget-password-block">
            <a href="javascript:;" id="forget-password" class="forget-password" @click="ShowForgotPasswordForm=true">Forgot Password?</a>
          </div>
        </div>
      </form>
      <!-- END LOGIN FORM -->
      <!-- BEGIN FORGOT PASSWORD FORM -->
      <form v-if="ShowForgotPasswordForm" action="index.html" method="post" novalidate="novalidate">
        <div class="form-title">
          <span class="form-title">Forget Password ?</span>
          <span class="form-subtitle">Enter your e-mail to reset it.</span>
        </div>
        <div class="form-group">
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email">
        </div>
        <div class="form-actions">
          <button type="button" id="back-btn" class="btn btn-default"  @click="ShowForgotPasswordForm=false">Back</button>
          <button type="submit" class="btn btn-primary uppercase pull-right">Submit</button>
        </div>
      </form>
      <!-- END FORGOT PASSWORD FORM -->      
    </div>
  </div>
</template>


<script>

  export default{
    layout(ctx) {
      return 'empty'
    },

    data() {
      return {
        User: {},
        ShowForgotPasswordForm: false
      }
    },

    methods: {
      Login() {

        $.ajax({
          type: 'POST',
          async: true,
          url: this.$Helpers.ApiBaseUrl()+ 'token',
          data: this.User,
          success: (response, textStatus, jqXHR) => {
            this.$store.commit('SetIdentity', response)
            this.$router.push('/')
          },
          error: (jqXHR, textStatus, errorThrown) => {
            
          }
        });

      }
    }
  }

</script>
